<h1>My Profile</h1>

<%= @profile.name %> <br>
<%= @profile.first_name %> <br>
<%= @profile.last_name %> <br>
<%= @profile.location %> <br>
<%= @profile.bio %> <br>
<%= @profile.facebook_followers %> <br>
<%= @profile.instagram_followers %> <br>
<%= @profile.facebook_profile %> <br>
<%= @profile.instagram_profile %> <br>
<%= @profile.mobile_number %> <br>
<%= @profile.favorites %> <br>
<%= @profile.email %> <br> 
<%= @profile.user_id %><br> <br><br>

<%= link_to 'Edit Profile', edit_profile_path(@profile) %>
